# kind-config.yaml 
#kind create cluster --name react-nginx --config=kind-config.yaml
#kind load docker-image react-nginx --name react-nginx

kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30000
    hostPort: 30000
    protocol: TCP
